<% content_for :title do %>About<% end %>
<div class="container">
  <h1>About</h1>
  <p class="lead">Cluster Viz - cluster visualization system.</p>
  <p>Cluster models provided by <a href="http://www.srcc.msu.su/nivc/index_engl.htm">RCC MSU</a> OctoTron system.</p>
  <p>Created by Artem Daugel-Dauge, <a href="http://en.cs.msu.ru/">CMC MSU</a>, 2014.</p>
</div>