<% content_for :title do %>Contact<% end %>
<div class="container">
  <h1>Contact</h1>
  <p>Creator: <a href="mailto:daugeldauge@gmail.com?subject=Cluster%20Viz">Artem Daugel-Dauge</a><br>
  <p>Supervisors: <a href="mailto:sergeys@parallel.ru?subject=Cluster%20Viz">Sergey Sobolev</a>, 
          <a href="mailto:voevodin@parallel.ru?subject=Cluster%20Viz">Vladimir Voevodin</a></p>
</div>