    <script type="text/javascript">
    

    $(document).ready(function(){ 
      //$("div").css("border", "3px solid red");

      $(".help-block").hide();
      
      function validate(n) {
        if (!isNaN(n) && (n % 1 === 0) && n >= 0) {
          return true;
        }
        return false;
      }

      $("form").submit(function(event) {

        var from = $("input[name=from]").val();
        var to = $("input[name=to]").val();
        var res = validate(from) && validate(to) && (from <= to);
        res = res || !from && !to;
        if (!res) {
          $(".help-block").show("fast");  
          $("#levels_div").addClass("has-error");
        }
        return res;       
      });
      //handle();
    });
    </script>

    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <form class="form-horizontal" style="padding-top: 20px;" name="form" role="form" action="/out.svg">
            <!-- Form Name -->
            <legend>Generate model</legend>

            <input type="hidden" name="cluster" value="<%= params[:cluster] %>">

            <% if types and not types.empty? %>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-sm-2 control-label">Edge&nbsp;type</label>
                <div class="col-sm-10">
                  <select class="form-control" name="edgeType">
                    <% types.each_with_index do |type, i| %>
                      <option value="<%= type %>" <%= "checked" if i == 0 %>>
                        <%= type %>
                      </option>
                    <% end %>
                  </select>
                </div>
              </div>
            <% end %>

            <!-- Drawing algorithm choosing-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="drawingAlgorithm">Algorithm</label>
                <div class="col-sm-10">
                  <select class="form-control" name="drawingAlgorithm">
                    <option value="dot" checked>dot</option>
                    <option value="dot">neato</option>
                    <option value="dot">twopi</option>
                    <option value="dot">fdp</option>
                  </select>
                </div>
            </div>



            <div class="form-group" id="levels_div">
              <label class="col-sm-2 control-label">Levels</label>
              <div class="col-sm-5">
                <input type="text" placeholder="From" class="form-control"  name="from">
              </div>
              <!-- <div class="col-sm-0"></div> -->
              <div class="col-sm-5">
                <input type="text" placeholder="To" class="form-control" name="to">
              </div>
              <div class="col-sm-10 col-sm-offset-2">
                <span class="help-block">
                  Values must be &ge; 0 and 'From' must be less than or equal to 'To'.
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Node&nbsp;info</label>
              <div class="input col-sm-10">
                <input type="text" placeholder="Needed node attributes separated by spaces" class="form-control"  name="nodeAttrs">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="aggregation" checked> Enable aggregation
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="singleNodesRemoving" checked> Remove single nodes
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary">Generate</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class=".col-md-7">
        </div> -->
      </div>
    </div><!-- /.container -->
