    <script type="text/javascript">
    function enable_disable_inputs() {
      if (document.form.levels.checked == true) {
        document.form.from.disabled = false;
        document.form.to.disabled = false;
      } else {
        document.form.from.disabled = true;
        document.form.to.disabled = true;
      }
    }
    function validate_element(x) {
      var n = x.value;
      if (!isNaN(n) && (n % 1 === 0) && n >= 0) {
        return true;
      }
      return false;
    }
    function validate_form(x) {
      if (x.levels.checked == false) {
        return true;
      }
      var res = validate_element(x.from) && validate_element(x.to) && (x.from.value <= x.to.value);
      if (!res) {
        document.getElementById("levels_div").className += " has-error";
      }
      return res;
    }
    </script>

    <div class="container container-custom">
      <div class="row">
        <div class="col-md-5">
          <form class="form-horizontal form-custom" onsubmit="return validate_form(this);" name="form" role="form" action="/out.svg">
            <fieldset>

              <!-- Form Name -->
              <legend>Generate model</legend>

              <input type="hidden" name="cluster" value="<%= params[:cluster] %>">

              <% if types and not types.empty? %>
              <div class="control-group">  
                <label class="control-label" for="edgeType">Edge type</label>
                
                <% types.each_with_index do |type, i| %>
                <div class="radio">
                  <input type="radio" name="edgeType" value="<%= type %>" <%= "checked" if i == 0 %>>
                  <label><%= type %></label>
                </div>
                <% end %>
              
              </div>
              <% end %>

              <!-- Drawing algorithm choosing-->
              <div class="control-group">
                <label class="control-label" for="drawingAlgorithm">Drawing algorithm</label>
                <div class="radio">
                  <input type="radio" name="drawingAlgorithm" value="dot" checked>
                  <label>dot</label>
                </div>
                <div class="radio">
                  <input type="radio" name="drawingAlgorithm" value="neato">
                  <label>neato</label>
                </div>
                <div class="radio">
                  <input type="radio" name="drawingAlgorithm" value="twopi">
                  <label>twopi</label>
                </div>
                <div class="radio">
                  <input type="radio" name="drawingAlgorithm" value="fdp">
                  <label>fdp</label>
                </div>
              </div>



              <div class="control-group" id="levels_div">
                <label class="control-label">Levels</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="levels" onchange = "enable_disable_inputs()"> Enable segregation by levels
                  </label>
                </div>
                <input type="text" placeholder="From" class="form-control" name="from" disabled>
                <input type="text" placeholder="To" class="form-control" name="to" disabled>
              </div>

              <div class="control-group">
                <label class="control-label">Aggregation</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="aggregation" checked> Enable aggregation
                  </label>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Single nodes</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="singleNodesRemoving" checked> Remove single nodes
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Generate</button>
                  </div>
                </div>
              </div>

            </fieldset>
          </form>
        </div>
        <div class=".col-md-7">
        </div>
      </div>
    </div><!-- /.container -->
