<style type="text/css">
    #sigma-parent {
        position: relative;
        background: #ffffff;
        height: 500px;
    }
    #sigma-expand {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #E9E9E9;
    }

</style>
<div class="buttons-container">
  <button class="btn" id="stop-layout">Stop Layout</button>
  <button class="btn" id="rescale-graph">Rescale Graph</button>
</div>
<div id="sigma-parent">
  <div id="sigma-expand"></div>
</div>
<!--<script src="/js/jquery.min.js"></script>-->
<script src="/js/sigma.min.js"></script>
<script src="/js/sigma.parsers.json.min.js"></script>
<script src="/js/sigma.layout.forceAtlas2.min.js"></script>
<script src="/js/viz.js"></script>
