<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <form class="form" onsubmit="return false;">
        <div class="form-group">
          <label class="control-label">Cluster</label>
          <select class="form-control" id="cluster">
            <option value="cheb">
              Chebyshev
            </option>
            <option value="lom">
              Lomonosov
            </option>
          </select>
          </div>
        <div class="form-group">
          <label class="control-label">Levels</label>
          <input type="text" class="form-control" id="levels" value="0">
        </div>
        <div class="form-group">
          <label class="control-label">Edge type</label>
            <select class="form-control" id="edge-type">
              <% ($types[:lom] | $types[:cheb]).each do |name| %>
                <option value="<%= name %>">
                  <%= name %>
                </option>
              <% end %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" id="draw-button">Draw</button>
      </form>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Layout options</h3>
        </div>
        <div class="panel-body">
          <form class="form" onsubmit="return false;">
            <div class="form-group">
              <label class="control-label">Gravity</label>
              <input type="text" class="form-control" id="gravity" value="0.2">
            </div>
            <div class="form-group">
              <label class="control-label">Charge</label>
              <input type="text" class="form-control" id="charge" value="-500">
            </div>
            <div class="form-group">
              <label class="control-label">Radius</label>
              <input type="text" class="form-control" id="radius" value="10">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div id="canvas">
        <svg></svg>
      </div>
    </div>
    <div class="col-lg-2">
    <table id="node-info" class="table table-bordered"></table>
    </div>
  </div>
</div>
<script src="/js/d3.v3.min.js"></script>
<script src="/js/viz.js"></script>
