<script type="text/javascript">
// function updateForm() {
//   if (document.getElementById("custom").checked) {
//     document.form.customURL.disabled = false;
//     document.form.update.disabled = true;
//   } else {
//     document.form.customURL.disabled = true;
//     document.form.customURL.value = "";
//     document.form.update.disabled = false;
//   }
// }

function handle() {
  var value = $(":input[name=cluster]:checked").prop("value");
  if (value == "custom") {
    $("#customURL").css("display", "block");
    $("input[name=customURL]").prop("disabled", false);

    $("#dot-info").parent().css("display", "none");
    $("input[name=update]").prop("disabled", true);
  } else {
    var dot_info = $("#" + value + "-info").html();
    $("#customURL").css("display", "none");
    $("input[name=customURL]").prop("disabled", true);
    $("#dot-info").parent().css("display", "block");
    $("#dot-info").html(dot_info);      
    $("input[name=update]").prop("disabled", false);
  }
}

$(document).ready(function(){ 
  //$("div").css("border", "3px solid red");
  handle();
  $("input[name=cluster]").change(handle);
});
</script>
<div class='container center jumbotron'>
  <h1> Welcome! </h1>
  <form name="form" class="form-horizontal" action='continue' >
    <div class="">
      <div class="btn-group btns" data-toggle="buttons" >
          <label class="btn btn-default">
              <input type="radio" name="cluster" value="lom">Lomonosov
          </label>
          <label class="btn btn-default active">
              <input type="radio" name="cluster" value="cheb" checked>Chebyshev
          </label>
          <label class="btn btn-default">
              <input type="radio" name="cluster" value="lab">Laboratory
          </label>
          <label class="btn btn-default">
              <input id="custom" type="radio" name="cluster" value="custom">Custom
          </label>
      </div>
    </div>
    <div class=" custom-text-input " id="customURL" style="display: none;">
      <input type="text" name="customURL" placeholder="Paste custom URL" class="form-control">
    </div>
    <div class=" custom-text-input ">
      <div id="dot-info" class="alert alert-info">
        Something may have gone wrong
      </div>
    </div>
    <div class="">
      <div class="checkbox-custom">
        <label>
          <input type="checkbox" name="update"> Update .dot file
        </label>
      </div>
    </div>
    <div class="form-actions continue">
      <button type="submit" class="btn btn-primary">Continue</button>
    </div>
  </form>
</div>
<% clusters = ["cheb", "lom", "lab"] %>
<% clusters.each do |cluster| %>
<div id="<%= cluster %>-info" style="display: none;">
<%= dot_info[cluster.to_sym] %>
</div>
<% end %>