body {
  padding-top: 60px;
}

.container {
  width: 1366px;
  max-width: none !important;
}

.center {
    text-align: center;
}

.error-page {
  color: red;
  margin: 0 auto;
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}


#dot-info {
  margin-bottom: 0px;
}


line {
  stroke: #999;
  stroke-width: 1.5px;
}

.node circle {
  stroke: #000;
  stroke-width: 3px;
  cursor: pointer;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

#draw-button {
  margin-bottom: 20px;
}

#canvas {
  height: 960px;
}

#logo {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 500; 
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  line-height: 1; }
  #logo:hover {
    color: white;
    text-decoration: none; 
}